[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
django = "*"
psycopg2 = "*"
djangocms-admin-style = "*"
django-suit = "==0.2.25"
static = "*"
django-jazzmin = "*"
django-ckeditor = "*"
django-allauth = "*"

[dev-packages]
yapf = "*"

[requires]
python_version = "3.9"
